[Unit]
Description=Simple logtoucher script

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=logtoucher.sh
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
